* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  .main_wrapper {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
    padding-top: 80px;
  }
  
  .promo {
    text-align: center;
  }
  
  .promo h1 {
    font-family: Raleway, sans-serif;
    font-size: 36px;
    text-transform: uppercase;
  }
  
  .promo_text {
    font-family: 'Open Sans';
    color: #86878b;
    font-size: 14px;
  }
  
  .promo_divider {
    background: #ff8c2c;
    height: 2px;
    width: 64px;
    margin: 25px auto 30px;
  }
  
  .container:not(:last-child) {
    margin-bottom: 75px;
  }
  
  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .item {
    width: 30%;
    min-width: 200px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
  
  .item .icon + h2 {
    margin-top: 30px;
  }
  
  .item h2 + .item_text {
    margin-top: 27px;
  }
  
  .item h2 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .item_text {
    font-size: 14px;
    color: #86878b;
  }
  
  .icon {
    display: block;
    margin: 0 auto;
    width: 70px;
    height: 70px;
    border: 2px #ff8c2d solid;
    border-radius: 35px;
    position: relative;
    overflow: hidden;
  }
  
  .icon:before {
    content: '';
    display: block;
    width: 36px;
    height: 36px;
    background: url("../img/icons.png") no-repeat 0 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .icon_lamp:before {
    background-position: 0 0;
  }
  
  .icon_keyboard:before {
    background-position: -36px 0;
  }
  
  .icon_flash:before {
    background-position: -72px 0;
  }
  